# Lots - Version 1

In [1]:
%%capture

import pandas as pd
import aesoppy.aesop as aesop
import os

# Comon Variables
data = os.path.join(os.getcwd(), 'data')

# DataFrames
lots_df = pd.read_csv(os.path.join(data, 'lots.csv'))
lots_df['date'] = pd.to_datetime(lots_df['date'], format='%m/%d/%y')
lots_df.set_index('date', inplace=True)

# Current Data
stock_price = 409
fwd_div = 3.32
current_year = aesop.aesop_now.year

In [2]:
lots_df['fwd_div'] = fwd_div
lots_df['lot_year'] = lots_df.index.year
lots_df['price'] = stock_price
lots_df['current_year'] = aesop.aesop_now.year
lots_df['yoc'] = round((lots_df['fwd_div'] / lots_df['lot_cost']) * 100, 2)
lots_df['end_total'] = lots_df['price'] + lots_df['div_total']
lots_df['end_begin'] = lots_df['end_total'] / lots_df['lot_cost']
lots_df['period'] = 1 / (lots_df['current_year'] - lots_df['lot_year'])
lots_df['cagr'] = round(((lots_df['end_begin'] ** lots_df['period']) - 1) * 100, 2)
lots_df

,lot_cost,lot_div,div_total,fwd_div,lot_year,price,current_year,yoc,end_total,end_begin,period,cagr
date,,,,,,,,,,,,
2023-10-04,318.1100,2.72,6.02,3.32,2023,409,2025,1.04,415.02,1.304643,0.500000,14.22
2022-12-22,239.7600,2.72,7.38,3.32,2022,409,2025,1.38,416.38,1.736653,0.333333,20.20
2022-05-09,266.6060,2.48,10.98,3.32,2022,409,2025,1.25,419.98,1.575283,0.333333,16.36
2020-03-26,151.6152,2.04,13.20,3.32,2020,409,2025,2.19,422.20,2.784681,0.200000,22.73
2017-10-18,77.7890,1.56,17.66,3.32,2017,409,2025,4.27,426.66,5.484837,0.125000,23.71